Akhil Abraham, Akhila Abraham, Amal Johnson, Vishal Patel, Gineesh Pillai

# Introduction

Our team is analyzing Chicago Crime Data to f

# Changes

The changes are

# Data cleaning

clean

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
crimesData = pd.read_csv("Crimes2001_present.csv")
dropData=crimesData.drop(columns=['FBI Code','Updated On','X Coordinate','Y Coordinate','Longitude','Latitude','Location','Beat','IUCR','Case Number','Date','Ward','District'])
dropData = dropData[dropData['Location Description'].notna()]

start_year=2007
mask = (dropData['Year'] > start_year)
crimeData= dropData.loc[mask]
crimeData.tail()

C:\Users\Akhila\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,Block,Primary Type,Description,Location Description,Arrest,Domestic,Community Area,Year
7099882,11703089,021XX W GRACE ST,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,OTHER,False,False,5.0,2019
7099883,11700926,036XX W DOUGLAS BLVD,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,True,29.0,2019
7099884,24560,013XX W HASTINGS ST,HOMICIDE,FIRST DEGREE MURDER,CHA PARKING LOT,True,False,28.0,2019
7099885,24559,013XX W HASTINGS ST,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,28.0,2019
7099887,11707239,022XX S KOSTNER AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,29.0,2017

In [4]:
yearMax=crimeData['Year'].max()
print(yearMax)
yearMin=crimeData['Year'].min()
print(yearMin)
rangey= yearMax-yearMin
print(rangey)

2020
2008
12

In [5]:
rawSocio = pd.read_csv("socioecon.csv")
rawSocio=rawSocio.drop(columns=['HARDSHIP INDEX'])
rawSocio = rawSocio.rename(columns={'Community Area Number': 'Community Area'})
rawSocio = rawSocio[rawSocio['Community Area'].notna()]
rawSocio.tail()

,Community Area,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
72,73.0,Washington Height,1.1,16.9,20.8,13.7,42.6,19713
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385

In [6]:
mergedData=pd.merge(crimeData, rawSocio, how='left', on='Community Area')
mergedData.tail()

,ID,Block,Primary Type,Description,Location Description,Arrest,Domestic,Community Area,Year,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
3836737,11703089,021XX W GRACE ST,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,OTHER,False,False,5.0,2019,North Center,0.3,7.5,5.2,4.5,26.2,57123.0
3836738,11700926,036XX W DOUGLAS BLVD,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,True,29.0,2019,North Lawndale,7.4,43.1,21.2,27.6,42.7,12034.0
3836739,24560,013XX W HASTINGS ST,HOMICIDE,FIRST DEGREE MURDER,CHA PARKING LOT,True,False,28.0,2019,Near West Side,3.8,20.6,10.7,9.6,22.2,44689.0
3836740,24559,013XX W HASTINGS ST,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,28.0,2019,Near West Side,3.8,20.6,10.7,9.6,22.2,44689.0
3836741,11707239,022XX S KOSTNER AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,29.0,2017,North Lawndale,7.4,43.1,21.2,27.6,42.7,12034.0

# Visualization

as

# Reflection

asa

# Next Steps

sds